save-exact=true
package-lock=false
save=true
optional=true
package-import-method=hardlink
auto-install-peers=true
strict-peer-dependencies=false
resolution-strategy=fewer-dependencies
enable-pre-post-scripts=true